<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit Product</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/product/productEdit.css}">
  <script src="/js/product/productEdit.js" defer></script>
</head>
<body>
<h1>Edit Product</h1>
<img id="previousImg" src="/image/previous.png" onclick="getRequestWithToken('/admin/page/product')"
     alt="뒤로가기">
<div id="editProductDiv">
  <div id="inputDiv">
    <div>
      <input type="hidden" id="productId" th:value="${productRequest.productId}">
    </div>
    <div>
      <label for="imageUrl">Image URL:</label>
      <input type="text" id="imageUrl" th:field="*{productRequest.imageUrl}" required>
    </div>
    <div>
      <label for="productUrl">Product URL:</label>
      <input type="text" id="productUrl" th:field="*{productRequest.productUrl}" required>
    </div>
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" th:field="*{productRequest.name}" required>
    </div>
    <div>
      <label for="price">Price:</label>
      <input type="number" id="price" th:field="*{productRequest.price}" required>
    </div>
    <div>
      <label for="storeName">Store Name:</label>
      <input type="text" id="storeName" th:field="*{productRequest.storeName}" required>
    </div>
    <div>
      <label for="tagId">Tag:</label>
      <select id="tagId" name="tagId" required>
        <option th:each="tag : ${tags}" th:value="${tag.tagId}" th:text="${tag.productTagName}"
                th:selected="${tag.tagId == productRequest.tag().tagId()}"></option>
      </select>
    </div>
  </div>
  <div id="saveImgDiv">
    <label id="saveImgLabel" for="saveImg">저장하기</label>
    <img src="/image/save.png" alt="Add Product" id="saveImg"
         onclick="productUpdateRequestWithToken()">
  </div>
</div>
</body>
</html>
