<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>관리자 신청 페이지</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/admin/adminPromote.css">
    <script src="/js/admin/adminPromote.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>관리자 신청 페이지</h1>
    <div class="centered-container">

    <!-- 관리자 코드 입력 폼 -->
        <label for="adminCode">관리자 코드를 입력하세요:</label>
        <input type="text" id="adminCode" name="adminCode" required>
        <button onclick="putAdminCode()">관리자 신청하기</button>

    </div>
</body>
</html>


