div {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px #ffffff;
}

button {
  background: linear-gradient(rgb(185, 204, 255) 0%, rgb(143, 173, 255) 100%);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px;
  height: 40px;
  font-family: "Jua", sans-serif;
  font-size: 17px;
}